* {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-size: 16px;
}

nav ul {
  background-color: #111111ea;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  list-style: none;
  display: inline-flex;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #2ea043;
  padding: 5% 2.5rem;
  color: white;
}

nav ul a:hover {
  background-color: #494949;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.courseContentSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: #121212;
  /* box-shadow: 0px 0px 10px white; */
  border-radius: 5%;
  min-height: 1000px;
}

.courseContentSection h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  color: white;
}
.courseContentSection h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-bottom: solid rgb(252, 252, 252) 3px;
  color: white;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  opacity: 0.2;
}

.courseContentSection ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseContentSection ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.2rem;
}

.courseContentSection ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #a0982e;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.courseContentSection ul li a.verfied {
  background-color: #2ea043;
}

.courseContentSection ul li a:hover {
  background-color: #494949;
}

.sidemsg {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: white;
  opacity: 0.7;
  width: 30%;
  height: 20%;
  border-radius: 5%;
  text-align: center;
}

.sidemsg h1 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 6px;
  }

  nav ul a {
    padding: 7% 0.2rem;
    font-size: 1rem;
  }
  nav ul {
    width: 100%;
  }
}

ol {
  list-style-type: disc;
  list-style-position: inside;
}
